<div id="vanta-bgg" class="vanta-container">
  <div class="backend-container" >
      <h1 #backendTitle class="backend-title" >My Backend Experience</h1>
      <div class="timeline-item" data-aos="flip-up" data-aos-duration="3000"> 
        <section class="backend-experience" >
          <h1 class="backend-subtitle">Expertise in building robust, scalable backend systems with .NET and SQL.
            With over 3 years of experience in backend development, I have been involved in designing and maintaining complex backend systems. My expertise spans across various technologies and frameworks, ensuring efficient and secure data handling, scalable architectures, and seamless integration.
          </h1>
        </section>       
      </div>
      <div class="charts-row">
        <div class="chart-container" data-aos="fade-up-right" data-aos-duration="3000">
          <h2>Programming Languages and Frameworks</h2>
          <canvas #skillsRadarChart id="skillsRadarChart"></canvas>
        </div>
        <div class="chart-container2" data-aos="fade-up-left" data-aos-duration="3000">
          <h2>Databases and Development Principles</h2>
          <canvas #skillsRadarChart2 id="skillsRadarChart2"></canvas>
        </div>
    </div>
    </div>
  </div>
  
  