.frontend-container
  display: block
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  padding: 20px
  background: transparent
  
.title-section
  text-align: center
  margin-top: 10vh // Aumenta este valor para bajar la sección del título
  margin-bottom: 40px

.timeline-item
  margin: 119.52px
  padding: 10px

.frontend-title
  display: inline-block // Asegurarse de que el elemento se ajuste a su contenido
  font-size: 2.5rem
  color: #333
  text-align: center
  padding: 20px 0
  font-family: 'Roboto', sans-serif
  font-weight: 700
