<div id="vanta-bg" class="vanta-container">
<div class="frontend-container" >
  <h1 #frontendTitle class="frontend-title" >My Frontend Experience</h1>

  <div class="timeline-item" data-aos="fade-down-left">
      <img src="assets/html5.png" alt="HTML5">
      <div class="content">
        <h3>HTML5</h3>
        <p>Estructura semántica y accesible para la web moderna.</p>
      </div>
    </div>
    <div class="timeline-item" data-aos="flip-left">
      <img src="assets/html5.png" alt="CSS3">
      <div class="content">
        <h3>CSS3</h3>
        <p>Diseño avanzado y responsivo para aplicaciones web.</p>
      </div>
    </div>
    <div class="timeline-item" data-aos="zoom-out-down">
      <img src="assets/html5.png" alt="JavaScript">
      <div class="content">
        <h3>JavaScript</h3>
        <p>Interactividad y dinamismo en la web.</p>
      </div>
    </div>
  </div>
</div>

