<div id="vanta-bg" class="vanta-container">
<div id="frontend" class="frontend-container" >
  <h1 #frontendTitle class="frontend-title" >My Frontend Experience</h1>
  <div class="timeline-item" data-aos="flip-up" data-aos-duration="3000"> 
    <section class="frontend-experience" >
      <h1 class="frontend-subtitle">
        I have hands-on experience crafting user-friendly interfaces, ensuring smooth navigation, and implementing responsive design. I am proficient in maintaining and updating projects, even starting from scratch. Feel free to explore this page as a sample of my work!.
      </h1>
    </section>       
  </div>
  <div class="logo-slider" data-v-4ef8651c="">
    <div class="logos-slide"  #logosSlide data-v-4ef8651c="">
      <img src="../../../../assets/images/html-5-svgrepo-com.svg" data-v-4ef8651c="">
      <img src="../../../../assets/images/css-svgrepo-com.svg" data-v-4ef8651c="">
      <img src="../../../../assets/images/js-svgrepo-com.svg" data-v-4ef8651c="">
      <img src="../../../../assets/images/sass-svgrepo-com.svg" data-v-4ef8651c="">
      <img src="../../../../assets/images/typescript-logo-svgrepo-com.svg" data-v-4ef8651c="">
      <img src="../../../../assets/images/react-svgrepo-com.svg" data-v-4ef8651c="">
      <img src="../../../../assets/images/angular-svgrepo-com.svg" data-v-4ef8651c="">
      <img src="../../../../assets/images/tailwind-svgrepo-com.svg" data-v-4ef8651c="">
      <img src="../../../../assets/images/bootstrap-fill-svgrepo-com.svg" data-v-4ef8651c="">
      <img src="../../../../assets/images/vite-svgrepo-com.svg" data-v-4ef8651c="">
    </div>
  </div>

</div>
</div>

  


