<div #presentation class="presentation-content" data-aos="flip-left"
data-aos-easing="ease-out-cubic"
data-aos-duration="2000">
  <img #profilePhoto src="assets/profile.jpg" alt="Foto de Guilherme" class="profile-photo">
  <div #textContent class="text-content" data-aos="zoom-out-up" data-aos-duration="2000">
    <h1>Hi, Im Guilherme</h1>
  </div>
  <div #textContent class="text-content" >
  <br>
  <div #neon class="neon-text">
    <p>Welcome to my personal portfolio! This project is a testament to my passion and proficiency in frontend development. Through this interactive and dynamic web experience, I aim to highlight my skills in creating visually appealing and highly functional web interfaces.</p>
  </div>
  <div class="scroll-down" data-aos="fade-up" data-aos-duration="2000">Scroll Down</div>
</div>
