$small: 460px

.presentation-content
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 80vh
  text-align: center
  padding: 20px
  background: transparent
  font-family: 'Arial', sans-serif

.profile-photo
  width: 200px
  height: auto
  border-radius: 50%
  margin-bottom: 20px
  border: 4px solid #fff
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15)

  @media screen and (min-width: $small) 
    width: 250px
  
  
.text-content
  h1
    font-size: 2.5em
    margin-bottom: 10px
    color: #333
    font-weight: 700

  p
    font-size: 1.7em
    max-width: 600px
    color: #555
    line-height: 1.5
    margin: 0 20px

.scroll-down
  margin: 50px auto 100px
  font-size: 1.5em
  color: #333
  animation: bounce 2s infinite
  cursor: pointer

@keyframes bounce
  0%, 20%, 50%, 80%, 100%
    transform: translateY(0)
  40%
    transform: translateY(-10px)
  60%
    transform: translateY(-5px)

