<div #presentation class="presentation-content" data-aos="flip-left"
data-aos-easing="ease-out-cubic"
data-aos-duration="2000">
  <img #profilePhoto src="assets/profile.jpg" alt="Foto de Guilherme" class="profile-photo">
  <div #textContent class="text-content" data-aos="zoom-out-up" data-aos-duration="2000">
    <h1>Hi, Im Guilherme</h1>
  </div>
  <div #textContent class="text-content" >
  <br>
  <div #neon class="neon-text">
    <p>Welcome to my personal portfolio! Here I'm going to tell you about my experience as a full stack developer</p></div>
  <div (click)="goToFrontend()" class="scroll-down" data-aos="fade-up" data-aos-duration="2000">Scroll Down</div>
</div>
