<div class="game-container">
  <canvas id="gameCanvas"></canvas>
    <div class="button-group">
      <button class="btn" (click)="startGame()">Start Game</button>
      <button class="btn primary" (click)="stopGame()">Stop Game</button>
      <button class="btn secondary" *ngIf="isDownloadButtonVisible" (click)="DownloadCV()">Download</button>
      <button class="btn tertiary" (click)="WelcomeHome()">Home</button>
    </div>
    <div class="timer-display">
      Remaining Time: {{ displayTime }}
    </div>
</div>


